<section class="listings">
  <div class="listings_section_title">
    <h2> <a href="<%= listings_path %>"><i class="fa fa-reply"></i></a> Search results for &lsquo;<%= @query %>&rsquo;</h2>
  </div>
  <div class="listings_list">
    <%= render @listings %>
  </div>
</section>