<p id="notice"><%= notice %></p>
<p>
Stop wondering where all the work is! It&rsquo;s right here!
</p>

<% @listings.each do |listing| %>
  <div class="listing">
    <h3>
      <%= link_to listing.title, listing %>
    </h3>
  </div>
<% end %>

        <%#= link_to 'Show', listing %>
        <%#= link_to 'Edit', edit_listing_path(listing) %>

        <%#= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= link_to 'New Listing', new_listing_path %>
