<h1 class="center"> PhotoVow </h1>
<p class="center">
PhotoVow is the platform that connects skilled photographers with wedding planners
</p>

<%= link_to 'See upcoming weddings', 'listings#index', class: "center" %>
<br><br>
<%= link_to 'List your wedding', 'listings#new', class: "center" %>