<h1 class="center"> PhotoVow </h1>
<p class="center">
PhotoVow is the platform that connects skilled photographers with wedding planners
</p>


<p class="center">
  <%= link_to 'See upcoming weddings', listings_path %>
  <br>
  <br>
  <%= link_to 'List your wedding', new_listing_path %>
</p>