<div class="bannerimg">
  <h1 class="center" id="photovowtitle"> PhotoVow </h1>
</div>


<p class="center">
PhotoVow is the platform that connects skilled photographers with wedding planners
</p>


<p class="center">
  <%= link_to 'See upcoming weddings', listings_path %>
  <br>
  <br>
  <%= link_to 'List your wedding', new_listing_path %>
</p>