<h2> My Conversations </h2>

<% @conversations.each do |conversation| %>
<div>
  <%= link_to other_conversation_participant_fullname(conversation),
              conversation_path(conversation) %>
</div>
<% end %>