<h1>Editing Photo</h1>

<%= render 'form', portfolio: @portfolio, photo: @photo %>

<%= link_to 'Show', portfolio_photo_path(@portfolio, @photo) %> |
<%= link_to 'Back', portfolio_photo_path(@portfolio, @photo) %>
