/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";
 @import "bootstrap";

 .banner, .notice, .alert{
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   background-color: black;

 }
 .banner{
 }

 .photovow-bg-color{
   background-color: #DFD8CD;
 }
  .center{
    text-align: center;
  }

  #photovowtitle{
    font-family: 'Gravitas One', cursive;
    color: palegoldenrod;
    
    //text-stroke is non-standard and volatile
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #B95061;
  }

  .listing{
    border: 1px, red, solid;
    background-color: lightgrey;
  }

  #already-offered-notice {
    color: green;
    font-weight: bold;
  }

  .messagebubble{
    
  }
  .messageheader{}
  .messagecontent{}

  .sender{
    background-color: #FFFDCF;
  }

  .recipient{
      
  }
  .bannerimg{
    height: 50%;
    padding-bottom: 50%;
    background-image: url("splashImage-darkenedtop-original-1400w-75qual-99kb.jpg");
    background-position-y: 100%;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;

  }