

 @import "font-awesome";
 @import "bootstrap";

 .banner, .notice, .alert{
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   background-color: black;

 }
 .banner{
 }

 .photovow-bg-color{
   background-color: #DFD8CD;
 }
  .center{
    text-align: center;
  }

  #photovowtitle{
    font-family: 'Gravitas One', cursive;
    color: #B95061;
    
    //text-stroke is non-standard and volatile
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: palegoldenrod;
  }

  .listing{
    border: 1px, red, solid;
    background-color: lightgrey;
  }

  #already-offered-notice {
    color: green;
    font-weight: bold;
  }

  .messagebubble{
    border-radius: 4px;
  }
  .messageheader{}
  .messagecontent{}
  .messagescontainer{

  }
  .sendermessagecontainer{
    max-width: 80%;
    margin-right: 0;
    margin-left: auto;
    padding-right: 20px;
  }
  .recipientmessagecontainer{
    max-width: 80%;
    margin-right: auto;
    margin-left: 0;
    padding-left: 20px;
  }
  .newmessageform{
    max-width: 80%;
    padding-right: 20px;
    margin-right: 0;
    margin-left: auto;
  }
  #message_content{
    border-radius: 4px;
    width: 100%;
  }
  .messagecontainer{
    text-align: left;
  }
  .sender{
    background-color: #CCA9A6;
      
  }
  
  .recipient{
    
  }
  .bannerimg{
    height: 50%;
    padding-bottom: 50%;
    background-image: url("splashImage-darkenedtop-original-1400w-75qual-99kb.jpg");
    background-position-y: 100%;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;

  }